# Mise en forme des données et intégration dans une base de donnée

Import des librairies

In [5]:
import pandas as pd
import csv

## 1. Charger et examiner le fichier

In [26]:
path_to_file = './data/darkness-dataset.csv'

with open(path_to_file, 'r', encoding='utf-8') as f:
    raw_lines = [next(f) for _ in range(3)]

for raw_line in raw_lines:
    print(raw_line)

id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id;;;;

"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",""{""""company_id"""":""""-seara"""",""""industry"""":""""Seara Alimentos LTDA"""",""""link"""":""""https://br.linkedin.com/company/-seara?trk=public_profile_topcard-current-company"""",""""name"""":""""Random Alimentos LTDA""""}"",""Experienced Unit Sales Manager with a demonstrated history of working in the foodâ€¦"",""[{""""attribution"""":""""By Random Name"""",""""created_at"""":""""2018-09-05T00:00:00.000Z"""",""""img"""":""""https://static.licdn.com/scds/common/u/img/pic/pic_pulse_stock_article_1.jpg"""",""""interaction"""":""""By Random Name"""",""""link"""":""""https://www.linkedin.com/pulse/hacking-linkedin-account-ahmed-nagib?trk=public_profile_article_view"""",""""title"""":""""Hacking LinkedIn Account""""}]"","""",""https://www.linkedin.com/in/random-id-2468"",""[{""""profile_link"""":""""https://kw.linkedin.com/in/moamen-yousef-147392136?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-mahmoud-zaki-nakhla-24009557?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/yasser-yassin-46758626?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/raymond-haggar-57205156?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-zaki-elassal-56331863?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/afif-fares-70590680?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/peter-bassil-948ba937?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-alqadi-a4b47241?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-sabry-e-9a6b8970?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nasser-mahmoud-8534ba232?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/kamal-jamal-91752993?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nabeel-rajput-84659926?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/elie-abdallah-13b280158?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://sa.linkedin.com/in/mohamed-dosouki-52424180?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nada-bishr-115b93a4?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/firas-othman-khalil-02763879?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/islam-el-hennawi-shrm-929736100?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/hani-shahroor-08b90348?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/tuhama-laundry-a1aa91279?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/tuhama-laundry-co-b07912167?trk=public_profile_browsemap-profile""""}]"",""Alexandria University"","""","""",""https://media.licdn.com/dms/image/D4D03AQEK_J4NmphASA/profile-displayphoto-shrink_200_200/0/1711987484091?e=2147483647&v=beta&t=37e74Ho2KEQEkH0FKMYvsvKxs8fEQryzd9F2LoQpITg"",""[{""""subtitle"""":"""" Professional working proficiency """",""""title"""":"""" English """"}]"","""","""","""","""","""",500,""-seara"",""Random Alimentos LTDA"","""","""","""","""",""https://www.linkedin.com/in/random-id-2468"",""random-id-2468"" ``` &#8203;:citation[oaicite:0]{index=0}&#8203;";;;;

"random-id-1357,""Random Name"",""IN"",""Random EduTech"",""Noida, Uttar Pradesh, India"",""{""""company_id"""":""""byjus"""",""""industry"""":""""BYJU'S"""",""""link"""":""""https://in.linkedin.com/company/byjus?trk=public_profile_topcard-current-company"""",""""name"""":""""Random EduTech"""",""""title"""":""""Random EduTech""""}"","""","""",""[{""""company"""":""""Random EduTech"""",""""company_id"""":""""byjus"""",""""description_html"""":null,""""duration"""":""""Jun 2021 - Present 3 years 1 month"""",""""duration_short"""":""""3 years 1 month"""",""""end_date"""":""""Present"""",""""location"""":""""Noida, Uttar Pradesh, India"""",""""start_date"""":""""Jun 2021"""",""""title"""":""""Centre sales"""",""""url"""":""""https://in.linkedin.com/company/byjus""""},{""""company"""":""""TYSHAZ BUILDMART INDIA PRIVATE LIMITED"""",""""company_id"""":""""tyshaz-buildmart-india-private-limited"""",""""description_html"""":null,""""duration"""":""""Feb 2019 May 2021 2 years 4 months"""",""""duration_short"""":""""2 years 4 months"""",""""end_date"""":""""May 2021"""",""""location"""":""""New Delhi Area, India"""",""""start_date"""":""""Feb 2019"""",""""title"""":""""Sales Team Lead"""",""""url"""":""""https://in.linkedin.com/company/tyshaz-buildmart-india-private-limited""""}]"",""https://www.linkedin.com/in/random-id-1357"",""[{""""profile_link"""":""""https://in.linkedin.com/in/anand-kumar-pandey-b7957a82?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/sunil-bisht-b48618160?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/deep-sagar-04b953268?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://pk.linkedin.com/in/shahab-raza-186a9a288?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amrita-singh-37820a22a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/book-falcon-544430295?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/shovit-singh-916106291?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/utkarsh-choudhary-aa7310229?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://pk.linkedin.com/in/fahad-ali-718121296?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/royalarunraj?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amarpreet-singh-11537810b?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/rajan-kumar-77255429a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/shivam-srivastava-539678179?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/mayank-sharma-ba05b659?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/vikash-kumar-241128230?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/suman-kumar-yadav-4521b6182?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/vikram-kumar-1b78901b4?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amit-b-a87baa1b2?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/sahil-gulati-17b366200?trk=public_profile_browsemap-profile""""}]"",""Delhi University"",""[{""""degree"""":""""Bachelor's degree"""",""""description"""":null,""""description_html"""":null,""""end_year"""":""""2019"""",""""field"""":""""Marketing/Marketing Management, General"""",""""start_year"""":""""2016"""",""""title"""":""""Delhi University"""",""""url"""":""""https://in.linkedin.com/school/delhi-university/?trk=public_profile_school_profile-section-card_image-click""""}]"","""",""https://media.licdn.com/dms/image/D4D03AQGrszIIcKxCUA/profile-displayphoto-shrink_200_200/0/1702192187591?e=2147483647&v=beta&t=oQPCwg1dXzJmzpE83tS3jx4_fsn7NyTPn4BoQ-IRJII"","""","""","""","""","""","""",112,""byjus"",""Random EduTech"","""","""","""",""[{""""end_date"""":""""Present"""",""""membership_number"""":null,""""membership_type"""":""""Business development associate"""",""""start_date"""":""""Jun 2021"""",""""title"""":""""Byju's""""}]"",""https://www.linkedin.com/in/random-id-1357"",""random-id-1357""";;;;

In [53]:
import pandas as pd

# Spécifie le chemin du fichier CSV
path_to_file = './data/darkness-dataset.csv'

# Ouvrir le fichier en mode lecture
with open(path_to_file, 'r', encoding='utf-8-sig') as file:
    for line_number, line in enumerate(file, start=1):
        
        # En-tête du DataFrame
        if line_number == 1:
            # Créer les colonnes à partir de la première ligne
            columns = line.strip().split(",")
            columns = [col.replace('linkedin_id;;;;', 'linkedin_id') for col in columns]
            df = pd.DataFrame(columns=columns)  # Créer un DataFrame vide avec les colonnes

        else:
            # Diviser la ligne en éléments
            line_split = line.strip().split(",")

            # Remplacer les éléments non valides par None si la longueur est > 1
            row_data = [elem if len(elem) == 1 else None for elem in line_split]

            # Ajuster la taille de row_data pour correspondre au nombre de colonnes
            if len(row_data) < len(columns):
                row_data.extend([None] * (len(columns) - len(row_data)))  # Ajouter des None s'il manque des éléments
            elif len(row_data) > len(columns):
                row_data = row_data[:len(columns)]  # Tronquer s'il y a trop d'éléments

            # Ajouter la ligne modifiée au DataFrame
            df.loc[len(df)] = row_data
        
        # Condition d'arrêt pour la démonstration (on arrête après la 2ème ligne)


# Afficher le DataFrame pour vérifier le contenu
df

,id,name,country_code,position,city,current_company,about,posts,experience,url,...,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id
0,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
11,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## 2. Nettoyer les données

In [11]:
path_to_cleaned_file = './data/cleaned_data.csv'

with open(path_to_file, 'r', encoding='utf-8', errors='replace') as infile, open(path_to_cleaned_file, 'w', newline='', encoding='utf-8') as outfile:
    reader = csv.reader(infile)
    writer = csv.writer(outfile)

    for row in reader:
        cleaned_row = [col.replace('""""', '"').replace('"""', '').replace('""', '"') for col in row]
        writer.writerow(cleaned_row)

## 3. Charger et séparer les colonnes

In [24]:
cleaned_data = pd.read_csv(path_to_cleaned_file, sep=';')

# Vérifier les colonnes disponibles
print(cleaned_data.columns)

Index(['id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],
      dtype='object')

In [21]:
# Séparer la première colonne basée sur la virgule
cleaned_data_split = cleaned_data['id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id'].str.split(',', expand=True)

# Afficher un aperçu des données séparées
cleaned_data_split.head()

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,random-id-2468,"""Random Name""","""KW""","""","""Kuwait""","""{""company_id"":""-seara""","""industry"":""Seara Alimentos LTDA""","""link"":""https://br.linkedin.com/company/-seara...","""name"":""Random Alimentos LTDA""}""","""Experienced Unit Sales Manager with a demonst...",...,None,None,None,None,None,None,None,None,None,None
1,random-id-1357,"""Random Name""","""IN""","""Random EduTech""","""Noida",Uttar Pradesh,"India""","""{""company_id"":""byjus""","""industry"":""BYJU'S""","""link"":""https://in.linkedin.com/company/byjus?...",...,None,None,None,None,None,None,None,None,None,None
2,random-id-8642,"""Random Name""","""","""","""","""{""company_id"":""shepard-exposition-services""","""industry"":""Shepard""","""link"":""https://www.linkedin.com/company/shepa...","""name"":""Random Event Services""}""","""EXPERIENCED EVENT PLANNER with over three yea...",...,None,None,None,None,None,None,None,None,None,None
3,random-id-9512,"""Random Name""","""UK""","""Design Engineer (System health) at Random Pow...","""Galashiels""","""{""company_id"":""edf-energy""","""industry"":""EDF (UK)""","""link"":""https://uk.linkedin.com/company/edf-en...","""name"":""Random Power""","""title"":""Design Engineer (System health) at Ra...",...,None,None,None,None,None,None,None,None,None,None
4,random-id-8642,"""Random Name""","""KW""","""","""Kuwait""","""{""company_id"":""global-infinity""","""industry"":""Global Infinity Contracting""","""link"":""https://kw.linkedin.com/company/global...","""name"":""Random Contracting""}""","""Experienced Chief Executive Officer with a de...",...,None,None,None,None,None,None,None,None,None,None

In [22]:
# Nettoyer les guillemets supplémentaires et les éléments JSON
cleaned_data_final = cleaned_data_split.applymap(lambda x: x.replace('"', '').replace("{", '').replace("}", '') if isinstance(x, str) else x)

# Afficher un aperçu des données nettoyées
cleaned_data_final.head()

C:\Users\moham\AppData\Local\Temp\ipykernel_28104\121066362.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cleaned_data_final = cleaned_data_split.applymap(lambda x: x.replace('"', '').replace("{", '').replace("}", '') if isinstance(x, str) else x)

,0,1,2,3,4,5,6,7,8,9,...,105,106,107,108,109,110,111,112,113,114
0,random-id-2468,Random Name,KW,,Kuwait,company_id:-seara,industry:Seara Alimentos LTDA,link:https://br.linkedin.com/company/-seara?tr...,name:Random Alimentos LTDA,Experienced Unit Sales Manager with a demonstr...,...,None,None,None,None,None,None,None,None,None,None
1,random-id-1357,Random Name,IN,Random EduTech,Noida,Uttar Pradesh,India,company_id:byjus,industry:BYJU'S,link:https://in.linkedin.com/company/byjus?trk...,...,None,None,None,None,None,None,None,None,None,None
2,random-id-8642,Random Name,,,,company_id:shepard-exposition-services,industry:Shepard,link:https://www.linkedin.com/company/shepard-...,name:Random Event Services,EXPERIENCED EVENT PLANNER with over three year...,...,None,None,None,None,None,None,None,None,None,None
3,random-id-9512,Random Name,UK,Design Engineer (System health) at Random Powe...,Galashiels,company_id:edf-energy,industry:EDF (UK),link:https://uk.linkedin.com/company/edf-energ...,name:Random Power,title:Design Engineer (System health) at Rando...,...,None,None,None,None,None,None,None,None,None,None
4,random-id-8642,Random Name,KW,,Kuwait,company_id:global-infinity,industry:Global Infinity Contracting,link:https://kw.linkedin.com/company/global-in...,name:Random Contracting,Experienced Chief Executive Officer with a dem...,...,None,None,None,None,None,None,None,None,None,None